ul{ width: 250px;
    overflow: hidden;
   
    

}
.menu>li{
   
    float: left;
    background: green;
    width:100%;
    text-align: center;
    line-height: 40px;
    /* padding:1px; */

}

.menu>li:hover{
    background: rgb(45, 205, 77);
    transition: 1s;
}
.submenu>li{
    line-height:50px ;
    background: rgb(166, 237, 177);
}

.menu a {
    color: #fff;
    display: block;
  }

  .submenu {
    height: 0; 
    overflow: hidden;
  }

  .menu > li:hover .submenu {
    height: 250px; 
    transition-duration: 1s;}

    body{background: rgb(206, 242, 151);}
    
img{ width: 250px; height: 200px;}

.mm{ float: left;}
  

.try>li{display: none;}

.submenu:hover>ul{display: block;}