/* 모달창 구현하기 */
#modal {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    
}

.modal-body {
    width: 450px;
    height: 460px;
    background: white;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 박스 중앙에 배치하기 */
    
}
img{
    margin-left:63px;
}
.btn1 {
    display: block;
    background: rgb(238, 199, 43);
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    
    
   
    
}
.btn2 {
    display: block;
    background: rgb(154, 244, 94);
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    
    
   
    
}

#mo_bt{
    margin-left:170px;
    margin-top: 6px ;
}

#modal{width:100%;}

#modal{display: none;}
#modal:target{display: block;
}

#button{display: flex;}

#m_group{
    display: flex;
}
#m1{
    margin:4px;
}
#m2{
    margin:4px;
}